@import "primeng/resources/themes/lara-dark-blue/theme.css";

html,
body {
  background-image: url("./assets/images/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.body {
  height: 100%;
}

.box {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.title {
  display: grid;
  justify-content: center;
  font-size: 3rem;
  color: rgb(87, 71, 71);
}

.cocktails-heading {
  display: grid;
  justify-content: center;
  font-size: 3rem;
  color: rgb(87, 71, 71);
  margin-top: 100px;
}

.paginator {
  display: grid;
  background-color: #7fbafd;
  margin-inline: 700px;
  justify-content: center;
  margin-top: 50px;
  border-radius: 5px;
}

.mat-paginator-page {
  background-color: #7fbafd;
  color: white;
}

.separator {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 5px;
  background-color: #7fbafd;
  margin-inline: 70px;
}

.coctkails-list-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.grid-column {
  display: grid;
  text-align: center;
  align-items: center;
}

.item-image {
  cursor: pointer;
}

.item-name {
  display: flex;
  justify-content: center;
}

.small-thumbnail {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.letters-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 200px;
}

.letters-container.change {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.letters-title {
  display: grid;
  justify-content: center;
  font-size: 2rem;
  color: rgb(87, 71, 71);
}

.letters-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.alphabetLink {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #7fbafd;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.alphabetLink:hover {
  background-color: grey;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.drink-container {
  display: grid;
  justify-content: center;
}

.cocktail-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: flex-start;
  gap: 16px;
  margin-top: 150px;
}

.drink-box {
  display: grid;
  justify-content: center;
}

.cocktail-image {
  width: 200px;
  height: 200px;
}

.cocktail-image.large {
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.cocktail-name {
  text-align: center;
  background-color: #7fbafd;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.cocktail-details {
  display: grid;
  grid-template-rows: auto auto;
  gap: 16px;
}

.ingredients-heading {
  text-align: center;
  margin-bottom: 10px;
  font-size: 50px;
  color: black;
}

.ingredients-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-items: center;
  align-items: flex-start;
}

.ingredient-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.ingredient-name {
  margin-top: 8px;
  color: black;
}

.instructions {
  display: grid;
  margin-bottom: 150px;
  background-color: #7fbafd;
  border-radius: 15px;
  margin-top: 15px;
  margin-inline: 150px;
}

.centered-heading {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
}

.text {
  font-size: 25px;
  text-align: center;
  padding-inline: 10px;
}

.coctels-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  justify-items: center;
  align-items: flex-start;
}

.pie-pagina {
  width: 100%;
  background-color: #7fbafd;
  text-align: center;
  padding: 10px 15px;
  bottom: 0;
  font-size: 1rem;
  margin-top: 50px;
}

@media screen and (max-width: 1439px) {
  .box {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .cocktail-container {
    display: grid;
    grid-template-columns: auto;
    align-items: flex-start;
    gap: 16px;
    margin-top: 150px;
  }

  .coctkails-list-container {
    margin-left: 275px;
    margin-right: 300px;
    margin-bottom: 30px;
  }

  .pie-pagina {
    width: 100%;
    background-color: #7fbafd;
    text-align: center;
    padding: 10px 15px;
    bottom: 0;
    font-size: 1rem;
    margin-top: 50px;
  }
}
